* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER COMEÇA AQUI*/
body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
    

  
}
.retanguloheader {
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;

  
  
}



.iperene {
    font-style: italic;
    font-family: 'Audiowide';
    color: #000000;
}



.retanguloheader h1 {
    font-family: 'Audiowide';
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.legendas {
    margin-left: 12   vw;
       width: 85vw;
    justify-content: end;
    display: flex;
    gap: 1vw;
    align-items: center;
    font-family: 'Mada', sans-serif;
    font-weight: 500;
    margin-left: 13vw;
  
}

.legendas li {
    font-size: 1vw;
  cursor: pointer;
}



ul {
    list-style-type: none;
}

header {
   background-image:
        linear-gradient(to left, transparent, #000000 100%),
        url("img/imgfundoheader.png");

    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.lua {
    display: flex;
    height: 3vh;
    margin-left: 100px;
      cursor: pointer;
}

.cabeçalho2{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5vh;
    
}
.iperenetitulo {
    font-family: 'Audiowide';
    font-size: 10vh;
    margin-top: 1vh;
    
  
}

.retangulosinopse {
   background-color: rgb(253, 230, 29);
   width: 35vw;
   height: 15vh;
   border-radius: 10px;
   align-items: center;
   display: flex;
  
}

.textosinopse {
    font-size: 1vw;
    text-align: center;
    font-family: 'Audiowide';
}

/* HEADER TERMINA AQUI*/


.cabecarioprincipal {
    margin-left: 4vw;
    width: 100vw;
    margin-top: 9vh;
}

.adaptflore{
    font-size: 55px;
    font-family: 'Murecho', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 5vw;
}

.adaptflore span:nth-child(1) {
    color: #BB0AC0;
}

.adaptflore span:nth-child(2) {
    color: #FF14A7;
}

.textoiperene {
    font-size: 25px;
    width: 35vw;
    color: white;
    margin-top: 4vh;
    font-family: 'Anek Malayalam', sans-serif;
    line-height: 4.5vh;
}

.portcontact {
    display: flex;
    gap: 1vw;
}

.retanguloport {
    height: 4.5vh;
    width: 13vw;
    background-color: #8D0991;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    display: flex;
    gap: 0.5vw;
     font-family: 'Anek Malayalam', sans-serif;
     font-size: 24px;
     cursor: pointer;
}

.port {
    color: white;
    
}

.seta {
    height: 5vh;
    
}


.retangulocontact {
     height: 4.5vh;
    width: 13vw;
    background-color: #8D0991;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    display: flex;
    gap: 1vw;
     font-family: 'Anek Malayalam', sans-serif;
     font-size: 24px;
     cursor: pointer;
}

.projetosconclu {
   background-color: rgba(63, 63, 63, 0.3);
    height: 4.7vh;
    width: 17vw;
    margin-top: 4vh;
    border-radius: 10vh;
    border: solid #8D0991 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
   opacity: 90%;
}

.computa {
    height: 3vh;
}

.textconclu {
    color: white;
    font-size: 2.5vh;
    font-family: 'Anek Malayalam', sans-serif;
}

.linha1 {
    height: 0.3vh;
    width: 47vw;
    background-color: #8D0991;
    margin-top: 3vh;
}

.linha2 {
    height: 0.3vh;
    width: 20vw;
    background-color: #4E0DA0;
    margin-top: 2vh;
}

.linha3 {
    height: 0.3vh;
    width: 35vw;
    background-color: #FF009F;
    margin-top: 2vh;
}

/*MAIN COMEÇA AQUI*/

.estatisticas {
    width: 100%;
    height: 20vh;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
    font-family: 'Anek Malayalam', sans-serif;
    gap: 10vw;
    align-items: center;
}

.textoproject {
    width: 10vw;
    text-align: center;
}

.estatisticas span:nth-child(1) {
    color: #8D0991;
    font-size: 5vh;
    display: block;
}

.textoexperiencia {
     width: 10vw;
    text-align: center;
}

.estatisticas span:nth-child(2) {
    color: #8D0991;
    font-size: 5vh;
    display: block;
}

.textogameficados {
  width: 10vw;
    text-align: center;  
}

.estatisticas span:nth-child(3) {
    color: #8D0991;
    font-size: 5vh;
    display: block;
}

.textosatisfacao {
  width: 10vw;
    text-align: center;
}

.estatisticas span:nth-child(4) {
    color: #8D0991;
    font-size: 5vh;
    display: block;
}

.cimaparte {
    margin-top: 3vh;
    width: 100%;
}

.wrappercimaparte {
width: 100%;
flex-direction: column;
align-items: center;
display: flex;
gap: 3vh;
}

.textoeimagem {
    width: 100%;
    margin-top: 5vh;
    display: flex;
justify-content: center;
    padding-left: 5vw;
    padding-right: 1vw;
    gap: 5vw;
}

.textos {
    font-family: 'Mada', sans-serif;
    font-weight: 500;
    flex-direction: column;
    gap: 5vh;
    display: flex;
   text-align: justify;
}

.textosomos1 {
    font-size: 3vh;
    width: 43vw;
}

.textosomos2 {
    font-size: 3vh;
    width: 43vw;
}

.barrinha {
    border-top: solid black 1px;
  margin-top: 5vh;
 
}

.triplecards {
  margin-top: 5vh;
 display: flex;
 justify-content: space-between;
 padding-left: 4vw;
 padding-right: 4vw;
  
}

.card {
    width: 22vw;
    height: 24vh;
    background-color: #4E0DA0;
    border-radius: 2vh;
   padding-left: 25px;
     background: white;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    
    
}

.partecimami {
    display: flex;
    height: 50px;
    align-items: center;
       padding-top: 4vh;
       gap: 1vw;
       
}

.partecimami h1 {
    margin: 0;
    padding: 0;
    font-family: 'Anek Malayalam', sans-serif;
}

.alvo {
    height: 6vh;
}

.textmission {
   padding-top: 4vh;
    font-size: 25px;
      font-family: 'Mada', sans-serif;
    font-weight: 400;
}

.lista {
    margin-top: 3vh;
    font-size: 25px;
      font-family: 'Mada', sans-serif;
    font-weight: 400;
    list-style-type: disc;
    margin-left: 1.3vw;
}

.wrapperlinha4 {
    display: flex;
    justify-content: center;
}

.linha4 {
     height: 0.5vh;
    width: 25vw;
    background-color: #8D0991;
    margin-top: 3vh;
}

.cimaparte {
    margin-top: 3vh;
    width: 100%;
}

.wrappercimaparte {
width: 100%;
flex-direction: column;
align-items: center;
display: flex;
gap: 3vh;
}

.retangulosessao {
    height: 5vh;
    width: 9vw;
    border-radius: 5vh;
    background-color: #FEDFFF;
    color: #8D0991;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Basic', sans-serif;
font-weight: normal;
    margin-top: 3vh;
}

.titulosessao {
font-family: 'Basic', sans-serif;
  font-weight: 500;
}

.textosessao {
  font-family: 'Hammersmith One', sans-serif;   
  font-weight: 100;
}


.bolinhas5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 50v;
    position: relative;
}

.wrapperbolinhas {
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.linha5 {
height: 2vh;
    width: 73vw;
    background-color: #DFCAFA;
    position: absolute;
    margin-left: 1vh;
    z-index: 1;
}

.item {
 display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.circulos {
    height: 8vh;
    width: 4vw;
     background-color: #DFCAFA;
     border-radius: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

.linha6 {
      position: absolute;
    top: 50px;     
    width: 5px;
    height: 8vh;
    background: #DFCAFA;

    z-index: 1;

}

.imgs {
    height: 5vh;
    z-index: 2;
    position: relative;
}


.retangulocards {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 0;
}


.cardzin {
       height: 20vw;
    width: 15vw;
   display: flex;
   flex-direction: column;
   align-items: center;
  background: white;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.cardzin h1{
    margin-top: 2vh;
    font-family: 'Anek Malayalam', sans-serif;
}

.cardzin p{
    width: 12vw;
    margin-top: 2vh;
font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    text-align: justify;
}

.retanguloservicos {
    height: 5vh;
    width: 9vw;
    border-radius: 5vh;
    background-color: #FEDFFF;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Basic', sans-serif;
    font-weight: 600;
    color: #8D0991;
    margin-top: 2vh;
}

.oferta {
        font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    margin-top: vh;
}

.retanguloimagens123 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    
}

.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.wrapperimagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraroxavertical {
    width: 1vw;
    height: 340px;
    background-color: #8D0991;
   transform: translateY(80px);
   
}

.imagemservico {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.imagemservico .img1 {
    display: block;
}

.textohover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    box-sizing: border-box;
    padding: 2vw;

    color: white;
    font-size: 1.3vw;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagemservico:hover .textohover {
    opacity: 1;
}

.imagemservico:hover .textohover {
    opacity: 1;
}

.number {
     font-family: 'Anek Malayalam';
     color: #8D0991;
}

.titletext {
font-family: 'Anek Malayalam';
    color: #888888;
}

.barraroxahorizontal {
    height: 1vh;
    background-color: #8D0991;
    margin-top: 8.8vh;
    margin: 0;
    width: 100%;
    margin: 0 auto;
}

.textoeimagem2 {
    width: 100%;
    margin-top: 5vh;
    display: flex;
justify-content: center;
    padding-left: 5vw;
    padding-right: 1vw;
    gap: 5vw;
}

.wrapperplaytime {
    display: flex;
    flex-direction: column;
  align-items: center;  
}

.playtime {
    font-family: 'Anek Malayalam';
}

.textoplaytime {
     font-family: 'Mada', sans-serif;
    font-weight: 500;
    flex-direction: column;
    gap: 5vh;
    display: flex;
   text-align: justify;
   margin-top: 3vh;
   width: 30vw;
   font-size: 3vh;
}

.retanguloimenso {
    width: 50vw;
    height: 60vh;
    background-color: #888888;
}







.setaroxa {
    display: flex;
cursor: pointer;
}

.sessaominicarrossel {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 6vw;
}


.containerimagem {
    width: 803px;
    height: 528px;
    overflow: hidden;
}

.imagenscarrossel {
    display: flex;
    width: max-content;
    height: 100%;
    transition: transform 0.5s ease;
}

.imagenscarrossel img {
    width: 803px;
    height: 528px;
    object-fit: cover;
    flex-shrink: 0;
}

.setaAvaliacaoEsquerda {
    cursor: pointer;
}


.setaAvaliacaoDireita {
cursor: pointer;
}


.retanguloscarrossel {
    height: 1.5vh;
    width: 4vw;
    border-radius: 10px;
    background-color: #DFCAFA;
}

.retanguloscarrossel.ativo {
    background-color: #5B0BB5;
}

.wrapperretanguloscarrossel {
       display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    
}

.wrapperprapornadireita {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10v;
    justify-content: center;
}





.falamsobreservico {
    font-family: 'Anek Malayalam';
    font-size: 3vh;
    color: #888888;
}

.card-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.wrapperavaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* JANELA DO CARROSSEL */
.containercards-avaliacao {
    width: 81.2vw;
    max-width: 81.2vw;
    overflow: hidden;
    flex-shrink: 0;
}


/* FAIXA DOS CARDS */
.wrappercards-avaliacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    width: max-content;
    transition: transform 0.5s ease;
}


/* CARDS */
.cardavaliacao {
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);

    height: 37vh;
    width: 25vw;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 3vh 0 0 2vw;

    flex-shrink: 0;
}

.setacard {
    height: 5vh;
    margin: 0 2vw;
    cursor: pointer;
}

/* ESTRELAS */
.estrelaroxa {
    height: 4vh;
}

/* OPINIÃO */
.opiniao {
    font-family: 'Mada', sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
    letter-spacing: 1px;
    width: 80%;
    text-align: justify;
}

/* NOME E CARGO */
.wrapperbolinhanomecargo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.bolinhacomletra {
    height: 6vh;
    width: 3vw;
    border-radius: 50px;
    background-color: #DFCAFA;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #4E0DA0;
    font-family: 'Mada', sans-serif;
}

.nomeperson {
    font-family: 'Mada', sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
}

.cargoperson {
    font-family: 'Mada', sans-serif;
    font-size: 2vh;
    color: #666666;
}

/* BARRINHAS */
.wrapperretanguloscarrossel2 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    gap: 1vw;
}

.retanguloscarrossel2 {
    height: 2vh;
    width: 2.5vw;
    border-radius: 10px;
    background-color: #DFCAFA;
}

.retanguloscarrossel2.ativo {
    width: 4.5vw;
    background-color: #4E0DA0;
}

.containerequipe {
    display: flex;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;
  align-items: center;
  margin-top: 3vh;
}

.setaEsquerdaPerfil{
    cursor: pointer;
}

.setaDireitaPerfil{
    cursor: pointer;
}

.conjuntotexto {
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 3vh;
   text-align: justify;
}


.tituloequipe {
 width: 40vw;
 font-family: 'Hammersmith One', sans-serif;   
 font-size: 10vh;
 font-weight: 500;
}

.textoequipe {
    width: 35vw;
     font-family: 'Mada', sans-serif;
      font-size:3vh;
}




.retanuglosla {
    height: 50vh;
    width: 40vw;
    background-color: #D9D9D9;
}

  .perfisdevs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 10vh;
}

.containerperfis {
    width: 89vw;
    overflow: hidden;
    flex-shrink: 0;
}

.wrapperperfis {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    width: max-content;
    transition: transform 0.5s ease;
}

.perfil {
    height: 50vh;
    width: 20vw;
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-shrink: 0;
}

.wrapperperfil {
   align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.fotoperfil {
    height: 25vh;
    border: 4px solid white;
    border-radius: 50%;
}

.wrapperperfil h2 {
    margin-top: 1.5vh;
    font-family: 'Mada', sans-serif;
    font-size: 3vh;
}


.wrapperperfil h3:first-of-type{
    margin-top: 2vh;
    font-family: 'Mada', sans-serif;
    color: #4E0DA0;
     font-size: 2.5vh;
     font-weight: 300;
}

.wrapperperfil h3:nth-of-type(2){
    margin-top: 1vh;
    font-family: 'Mada', sans-serif;
    color: #6D6D6D;
    font-size: 2.5vh;
    font-weight: 300;
}


.iconesroxos {
    display: flex;
   justify-content: end;
    height: 5vh;
 margin: 2vh 1vw 0 0
}

.barras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    margin-top: 4vh;
}

.barra {
    width: 10vw;
    height: 2vh;
    border-radius: 20px;
    background-color: #DCDCDC;
}

.barra.ativo {
    background-color: #888888;
}




footer {
     background: linear-gradient(to bottom, #FFFFFF, #8D0991, #8D0991);
    height: 90vh;
    width: 100%;
    position: absolute;
}

.containerfootercima {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
    flex-direction: column;
   
}

.titulofooter {
    font-size: 10vh;
       font-family: 'Anek Malayalam', sans-serif;
}

.subtitulofooter {
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 5vh;
    font-weight: 400;
}

.botaocontato {
    display: flex;
    height: 5vh;
    width: 20vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
     margin-top: 2vh;
     gap: 2vh;
      font-family: 'Mada', sans-serif;
      color: #8D0991;
      cursor: pointer;
}

.botaocontato img{
    height: 6vh;
}

.containerfooterbaixo {
    display: flex;
    gap: 5vw;
      font-family: 'Anek Malayalam', sans-serif;
      color: white;
      display: flex;
      justify-content: center;
      margin-top: 10vh;
     
}

.retangulofooter1 {
display: flex;
flex-direction: column;
align-items: center;
}






.retangulofooter1 p {
    width: 20vw;
    text-align: justify;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3vh;
    margin-top: 2vh;
}

.logoiperene2 {
    margin: 0;
}




.logoiperene2 img {
    display: block;
    max-width: 100%;
}


.retangulofooter2 .wrapperret1 {
    flex-direction: column;
    display: flex;
}

.retangulofooter2 h1 {
    margin-top: 1.5vh;
    margin-bottom: 5vh;
}

.logoiperene1{
  display: flex;
  height: 15vh;
margin-left: 2vw;
position: absolute;
margin-top: 5.5vh;
}


.topicos {
    font-size: 2vh;
    font-size: 3vh;
}

.retangulofooter3 {
   display: flex;
  margin-top: 1.5vh;
 
}

.wrapperret3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperret3 h1 {
    margin-bottom: 5vh;
}

.wrapperret3 p {
        width: 8vw;
        font-size: 3vh;
        width: 15vw;
        text-align: center;
}


.wrapperret4 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.wrapperret4 p {
    font-size: 3vh;
    width: 22vw;
    text-align: center;
}


.wrapperret4p:nth-of-type(2) {
    text-align: center;
}

.wrapperret4 h1 {
    margin-top: 1.5vh;
}

.direitosreservados {
    text-align: center;
    font-family: in;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 100;
    margin-top: 5vh;
}

/* DEIXANDO MODO NOITE

/* ========================= */
/*       MODO ESCURO         */
/* ========================= */

.modo-noite {
    background-color: #0B0012;
    color: white;
}

.modo-noite .retanguloheader {
    background-color: #0B0012;
}

.modo-noite .iperene {
    color: #CC0581;
}

.modo-noite .textoproject span {
    color: #CC0581;
}



.modo-noite .textoexperiencia span {
    color: #CC0581;
}

.modo-noite .textogameficados span {
    color: #CC0581;
}

.modo-noite .textosatisfacao span {
    color: #CC0581;
}

.modo-noite .barrinha {
    background-color: #CC0581;
}

.modo-noite .retangulosessao {
    background-color: #8D0991;
}

.modo-noite .titulosessao{
    color: #FEDFFF;
}

.modo-noite .card {
    background-color: #18072E;
}

.modo-noite .circulos {
    background-color: #4E0DA0;
}


.modo-noite .linha6 {
    background-color: #4E0DA0;
}
.modo-noite .linha4 {
    background-color: #6d04ed;
}

.modo-noite .linha5 {
    background-color: #4E0DA0;;
}

.modo-noite .cardzin {
    background-color: #18072E;
}

.modo-noite .retanguloscarrossel {
    background-color: #5B0BB5;
}

.modo-noite .retanguloscarrossel.ativo {
    background-color: #DFCAFA;
}


.modo-noite .cardavaliacao {
     background-color: #18072E;
}

.modo-noite .bolinhacomletra {
    background-color: #4E0DA0;
}

.modo-noite .bolinhacomletra h1 {
    color: #DFCAFA;
}

.modo-noite .perfil {
    background-color: #18072E; 
}

.modo-noite footer {
     background: linear-gradient(to bottom, #0B0012, #4E0DA0, #4E0DA0);
    height: 90vh;
    width: 100%;
    position: absolute;
}

.modo-noite .retanguloscarrossel2 {
    background-color: #4E0DA0;
}

.modo-noite .retanguloscarrossel2.ativo {
    background-color: #DFCAFA;
}

.modo-noite .retanguloimperene {
    padding-top: 7vh;
    height: 15vh;
    width: 20vw;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2vh;
}